   *{
    margin:0;
    padding:0;
    background-color:;    
  }

  .content{
    display: flex;
    align-items: center;
    padding-top: 100px;
    background-color: white;
    justify-content: space-evenly;
  }
  
  .heading-nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin :10px;
    border: solid 3px yellow;
  }

  h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgrey;
    background-color:darkslategray;
    padding: 10px;
    border-radius:50%
  }

  img{
    height: 200px;
    width: 200px;
    background-color:aquamarine;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  #red{
    color:red;
  }

  .color-title{
    height:100px;
    color:purple;
    font-weight: normal;
    font-family:Arial, Helvetica, sans-serif;
    
  }

  #orange{
    color: #ffa500;
  }

  #green{
    color:green;
  }

  #blue{
    color:blue;
  }

  #yellow{
    color:yellow;
  }

  .footer{
    background-color: grey;
    color:white;  
    margin: 300px ;
    text-align: center;
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    
  .heading-nav:hover{
    border:solid 4px blue;
  }

  }

  p{
    color:#ffa500;
  }
