.cat{
    display: inline-block;
    background-color: aquamarine;
    width: 40%;
    margin: 25px;
    border: 2px solid red;
}

.dog{
    display: inline-block;
    background-color: coral;
    margin: 25px;
    margin-left: 255px;
    width: 40%;
    border: 2px solid red;
}

.first-paragraph{
    display: inline;
    padding-left: 20px;
    margin: 20px;
    font-weight: bold;
    border: 0;
}

.second-paragraph{
    display: inline;
    padding-left: 20px;
    margin: 20px;
    font-weight: bold;
    border: 0;

}

footer{
    clear: both;
    background-color: blueviolet;
    text-align: center;
    margin-top:10px;
}

h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: blanchedalmond;
    text-align: center;
    color: coral
}

img{
    float: left;
    height: 200px;
    width: 200px;
    padding: 5px;
    border: 1px solid black;
}

.body{
    background-color: violet;
    border: 3px solid yellow;
}

p{
    text-align: center;
    border: 2px solid green;
    padding: 2px;
}